<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/authenticated.html}">
<head>
    <title>Home</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animations.css}" rel="stylesheet"/>
    <link th:href="@{/css/select.css}" rel="stylesheet"/>
</head>
<body>
`<div class="nemes" layout:fragment="content">
    <h2>Привет <span th:utext="${userName}"></span>, ваша роль <span th:utext="${role}"></span></h2>
    <h2>Дата:  <span th:text="${messageList.get(counter).getDateCreate()}"></span></h2>
    <h2>Сообщение дня : <span th:text="${messageList.get(counter).getText()}"></span></h2>
    <a class="btn btn-success my-2 my-lg-0" th:href="@{/home/home/back}">Предыдущее</a>
    <a class="btn btn-success my-2 my-lg-0" th:href="@{/home/home/next}">Следующее</a>

    <h2>Cтатистика</h2>
    <h3>Всего <span th:text="${size}"></span> cообщения</h3>

`</div>
</body>
</html>

