<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{/layouts/authenticated.html}">
<head>
    <title>Home</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/animations.css}" rel="stylesheet"/>
    <link th:href="@{/css/select.css}" rel="stylesheet"/>
</head>
<body>
<div class="nemes" layout:fragment="content">
    <h2>Привет <span th:utext="${userName}"></span>, ваша роль <span th:utext="${role}"></span>.</h2>
    <h2>Сообщение дня: <span th:text="${message.getText()}"></span></h2>
</div>
</body>
</html>

